.home-strip {
  display: flex;
  justify-content: space-evenly;
}

.home-pair {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home-yellow-container {
  background: $mainYellow
}

.home-green-container {
  background: #269e40;
  padding: 2vw;
}

.home-black-container {
  background: #2b2b2b;
  padding: 2vw;
}



.grows-main-container {
  height: 35vh;
}
.grows-secondary-container {
  padding-top: 10vh;
}