.main {
  margin-top: 10vh;
}

.drinks-container {
  margin-top: 6vh;
}

.drink-default-image {
  height: 40vh;
  margin-top: 8vh;
}

.drink-default-text {
  height: 40vh;
  font-family: $thirdTitleFont;
  font-size: xx-large;
  margin-top: 7vh;
  margin-left: 10vw;
}

.drinks-image {
  width: 20vw;
}

.drinks-serve {
  display: inline;
}

.drinks-plus-minus {
  padding-bottom: 1vh;
  padding-left: 2vh;
  font-size: larger;
  font-weight: bolder;
}

.drinks-ital-false {
  margin-left: 2vw;
  padding: 1vw;
  border-radius: 8px;
  background: $mainBlack;
  color: $mainYellow;
  font-family: $secondaryTitleFont;
}

.drinks-ital-true {
  margin-left: 2vw;
  padding: 1vw;
  border-radius: 8px;
  background: $mainGreen;
  color: $mainYellow;
  font-family: $secondaryTitleFont;
}

.brief-highlight {
  text-decoration: underline;
  text-decoration-color: #c11;
  text-decoration-style: double;
  text-transform: uppercase;
  font-weight: bolder;
}