.home-wray-and-nephew {
  width: 200px;
  height: auto;
  position: absolute;
  transform: rotate(90deg);
  right: 0;
  top: 10%;
}

.home-row-image {
  height: 15vh;
}
.home-row-flag {
  height: 10vh;
}
.home-row-wray {
  height: 20vh;
}