.home-green-text {
  color: #efefef;
}

.home-black-text {
  color: #efefef;
}

.home-marquee-text {
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: auto;
  font-family: $secondaryTitleFont;
  font-size: large;
}

.home-green-title {
  font-family: $secondaryTitleFont;
  transform: rotate(-6deg);
  transform-origin: top left;
  text-transform: uppercase;
}

.home-black-title {
  font-family: $secondaryTitleFont;
  transform: rotate(-6deg);
  transform-origin: top left;
}



.grows-title-text {
  font-family: $secondaryTitleFont
}

.grows-main-text {
  color: #efefef;
}

.grows-subheader-text {
  font-family: $secondaryTitleFont;
  color: $mainYellow;
}


.cropscard-title-text {
  color: $mainBlack;
  font-family: $thirdTitleFont;
}