.row-1 {
  height: 22vh;
}
.row-2 {
  height: 16vh;
}
.row-3 {
  height: 16vh;
}
.row-4 {
  height: 16vh;
}
.row-5 {
  height: 10vh;
}

.jam-flag {
  width: 8vw;
}
.emile-image {
  width: 35vw;
}
.logo-image {
  width: 4vw;
}
.logo-text {
  display: inline-block;
  font-family: $secondaryTitleFont;
}

.top-text {
  font-family: $secondaryTitleFont;
}